:root {
    --color-blue: #1e90ff;
    --color-white: #ffffff;
    --color-red: #FF4433;
  }
/* Reset */
*,
table,
th,
td{
    box-sizing: border-box;
}
body,
ul,
li {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 1.875rem;
}
h2 {
    font-size: 1.5rem;
}
img {
    max-width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
input,
textarea,
select {
    display: inline-block;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    line-height: 2.5;
    box-shadow: unset;
}
textarea {
    width: 100%;
}
input[type="checkbox"] {
    width: fit-content;
}
/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid {
    width: 100%;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.row.row-min > .col {
    flex-grow: 0;
}
.row.row-collapse {
    margin-left: 0;
    margin-right: 0;
}
.row-collapse > .col {
    padding-left: 0;
    padding-right: 0;
}
.col {
    flex-grow: 1;
    padding: 0 15px;
}
.col-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
}
.col-2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
}
.col-3 {
    flex-basis: 25%;
    max-width: 25%;
}
.col-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
}
.col-5 {
    flex-basis: 41.666%;
    max-width: 41.666%;
}
.col-6 {
    flex-basis: 50%;
    max-width: 50%;
}
.col-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
}
.col-8 {
    flex-basis: 66.666%;
    max-width: 66.666%;
}
.col-9 {
    flex-basis: 75%;
    max-width: 75%;
}
.col-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
}
.col-11 {
    flex-basis: 91.666%;
    max-width: 91.666%;
}
.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}
@media screen and (max-width: 30rem) {
    .col.sm-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
    }
    .col.sm-2 {
        flex-basis: 16.666%;
        max-width: 16.666%;
    }
    .col.sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .col.sm-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
    .col.sm-5 {
        flex-basis: 41.666%;
        max-width: 41.666%;
    }
    .col.sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col.sm-7 {
        flex-basis: 58.333%;
        max-width: 58.333%;
    }
    .col.sm-8 {
        flex-basis: 66.666%;
        max-width: 66.666%;
    }
    .col.sm-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .col.sm-10 {
        flex-basis: 83.333%;
        max-width: 83.333%;
    }
    .col.sm-11 {
        flex-basis: 91.666%;
        max-width: 91.666%;
    }
    .col.sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 48rem) {
    .col.md-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
    }
    .col.md-2 {
        flex-basis: 16.666%;
        max-width: 16.666%;
    }
    .col.md-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .col.md-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
    .col.md-5 {
        flex-basis: 41.666%;
        max-width: 41.666%;
    }
    .col.md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col.md-7 {
        flex-basis: 58.333%;
        max-width: 58.333%;
    }
    .col.md-8 {
        flex-basis: 66.666%;
        max-width: 66.666%;
    }
    .col.md-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .col.md-10 {
        flex-basis: 83.333%;
        max-width: 83.333%;
    }
    .col.md-11 {
        flex-basis: 91.666%;
        max-width: 91.666%;
    }
    .col.md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 64rem) {
    .col.lg-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
    }
    .col.lg-2 {
        flex-basis: 16.666%;
        max-width: 16.666%;
    }
    .col.lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .col.lg-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
    .col.lg-5 {
        flex-basis: 41.666%;
        max-width: 41.666%;
    }
    .col.lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .col.lg-7 {
        flex-basis: 58.333%;
        max-width: 58.333%;
    }
    .col.lg-8 {
        flex-basis: 66.666%;
        max-width: 66.666%;
    }
    .col.lg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .col.lg-10 {
        flex-basis: 83.333%;
        max-width: 83.333%;
    }
    .col.lg-11 {
        flex-basis: 91.666%;
        max-width: 91.666%;
    }
    .col.lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}
/* Button */
.button {
    text-align: center;
    padding: 0 15px;
    display: inline-block;
    line-height: 2.5;
    border: 1px solid transparent;
    cursor: pointer;
}
.button.expand {
    display: block;
    width: 100%;
}
.button.outline {
    background: transparent;
}
.button img {
    max-width: 1.5rem;
    margin: 0 7px;
    vertical-align: middle;
}
.button:hover {
    opacity: 0.9;
}
.button.button-blue {
    color: #fff;
    background-color: var(--color-blue);
}
.button.button-red {
    color: #fff;
    background-color: var(--color-red);
}
.button.gray {
    color: #999;
    border-color: #999;
}
/* Text */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.is-small {
    font-size: 0.8rem;
}
.color-gray {
    color: #999
}
.is-xlarge {
    font-size: 2rem;
}
/* Spacing */
.mb-half {
    margin-bottom: 0.5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mx-auto {
    margin: 0 auto;
}
.round {
    border-radius: 7px;
}
/* Flex */
.d-flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}

.justify-c-start {
    justify-content: flex-start;
}
.justify-c-end {
    justify-content: flex-end;
}
.justify-c-center {
    justify-content: center;
}
.justify-c-between {
    justify-content: space-between;
}
.justify-c-around {
    justify-content: space-around;
}
.align-i-start {
    align-items: flex-start;
}
.align-i-end {
    align-items: flex-end;
}
.align-i-center {
    align-items: center;
}
.align-i-stretch {
    align-items: stretch;
}
.f-grow-0 {
 flex-grow: 0;
}
.f-grow-1 {
 flex-grow: 1;
}
/* heplers */
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.dark span,
.dark i {
    color: #f1f1f1;
}
.w-100 {
    width: 100px;
    max-width: 100px;
}
.w-150 {
    width: 150px;
    max-width: 150px;
}
.w-200 {
    width: 200px;
    max-width: 200px;
}
.w-250 {
    width: 250px;
    max-width: 250px;
}
.max-w-300 {
    max-width: 300px;
}
.max-w-300 {
    max-width: 300px;
}
.max-w-350 {
    max-width: 350px;
}
.max-w-400 {
    max-width: 400px;
}
.min-h-100 {
    min-height: 100vh;
}
.full-height {
    height: 100%;
}
.link {
    color: #104E8B;
    font-weight: bold;
}

@media screen and (max-width: 30rem) {
    .hide-on-small {
        display: none;
    }
}

/* Form */
/* Input group */
.input-group {
    margin-bottom: 15px;
}
.input-group label{
    display: inline-block;
    margin-bottom: 15px;
}
.input-group input:not([type="submit"]) {
    width: 100%;
}
.checkbox-group input[type="checkbox"] {
    width: fit-content;
}
.checkbox-group .label {
    margin-bottom: 0;
}
/* Select */

select {
    display: inline-flex;
    width: 10rem;
    height: 2.2rem;
    border-radius: 5px;
    overflow: hidden;
}

.table {
    border-radius: 15px;
    overflow: hidden;
    border-collapse: collapse;
}
.table th,
.table td {
    border-right :1px solid #000;
}
.table tr td:last-child {
    border-right:unset;
}   
.table th,
.table td {
    padding: 10px 15px;
    background-color: #fff;
}
.table tr {
    border-bottom: 1px solid #000;
}
.table thead tr ,
.table tfoot tr  {
    border: unset;
}
.table.table-blue th {
    border-color: transparent;
    color: #fff;
    background-color: #1e90ff;
}
.table.table-blue th,
.table.table-blue td {
    border-right-color: transparent;
}
.table.table-blue tr {
    border-color: var(--color-blue);
}
/* pagination */
.paginate  {
    list-style-type: none;
}
.paginate .prev-item span {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.paginate .next-item span {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.paginate .pagi-item span{
    display: inline-block;
    padding: 5px 10px;
    transition: 0.25s;
    cursor: pointer;
}
.paginate .pagi-item.active span,
.paginate .pagi-item:hover span {
    background-color: #1e90ff;
    color: #fff;
}
.tag {
    display: inline-block;
    margin: 0 0 10px 10px ;
    padding: 3px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
}
