* {
    box-sizing: border-box;
}
.wrapper.login-page {
    background-color: aqua;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.col {
    padding: 0 15px;
}
.col-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
}
.col-2 {
    flex-basis: 16.666%;
    max-width: 16.666%;
}
.col-3 {
    flex-basis: 25%;
    max-width: 25%;
}
.col-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
}
.col-5 {
    flex-basis: 41.666%;
    max-width: 41.666%;
}
.col-6 {
    flex-basis: 50%;
    max-width: 50%;
}
.col-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
}
.col-8 {
    flex-basis: 66.666%;
    max-width: 66.666%;
}
.col-9 {
    flex-basis: 75%;
    max-width: 75%;
}
.col-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
}
.col-11 {
    flex-basis: 91.666%;
    max-width: 91.666%;
}
.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}
.mx-auto {
    margin: 0 auto;
}

/*  */
button {
    padding: 0 15px;
    display: inline-block;
    line-height: 3.2;
    background-color: #89CFF0;
}
input[type='submit'].button {
    background-color: #89CFF0;
    color: #fff;
}


/*  */
.login-form {
    display: flex;
    align-items: center;
    max-width: 500px;
    min-height: 100vh;
    
}
.login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-form form input{
    width: 100%;
    margin-bottom: 15px;
    padding: 0 15px;

    border: none;
    outline: none;
    line-height: 3.2;
    background-color: #e1e1e1;
}
form input:not([type='submit'])::placeholder {
    color: #999;
}

